body {
}

.thumbnail-delete {
    font-size: 15pt;
    color: black;
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: red;
    border-radius:15px;
    color: white;
    font-weight: bolder;
    z-index: 10;
}

a.thumbnail-delete:hover {
 background-color:white;
 color:red;
}

a:hover,a:link,a:active {
  text-decoration:none;
  
}

.thumbnail-add {
    color: black;
    font-size: 15pt;
    line-height: 80px;
}

.thumbnail-container {
    float: left;
    border: 1px solid rgb(200,200,200);
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    cursor:pointer;
}

.thumbnail-container img {
        width: 100%;
        height: 100%;
        display:block;
    }

.image-upload-preview {
    position: absolute;
    z-index: 100;
    display:none;
}
